.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj.*
.DS_Store
Thumbs.db
*.bak
*.orig
*.log
*.tmp
*.temp
*.o
*.obj
*.pch
*.ilk
*.aps
*.ncb
*.sdf
*.suo
*.tlb
*.tli
*.tlh
*.idx
*.pdb
*.idb
*.ipch
*.res
*.rc
*.rct
*.exp
*.lib
*.dll
*.exe
*.app
*.dSYM/
*.iobj
*.ipdb
*.tmp
*.log
*.log.*
*.scc
.vscode/
.idea/
node_modules/
logs/
*.swp
*.swo
*.swn
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/
*.code-workspace
C:/Users/Marcel/Documents/GitHub/CITM-Game-Jam-8/CITM_Game_Jam_8/Saved/Logs/CITM_game_Jam
